.skillcircle{
    position: relative;
    width:1000px;
    height:1000px; 
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left:40% ; 
}
.leserLine1{
    width: 30%;
    border: 1px solid rgb(39, 39, 39); 
    height: 1px;
    position: absolute;
    top: 49%;
    left: 100px;
    transform: rotate(-3deg); 
    clip-Path : inset(0 0 0 100%); 
    opacity: 0;
    transition: 0s; 
}
.leserLine1.activeLine{
    clip-Path : inset(0 0 0 0); 
    opacity: 1;
    transition: 1s;
}

 
.leserLine2{
    width: 30%;
    border: 1px solid rgb(36, 36, 36); 
    height: 1px;
    position: absolute;
    top: 51%;
    left: 100px;
    transform: rotate(3deg);
    clip-Path : inset(0 0 0 100%); 
    opacity: 0;
    transition: 0s; 
}

.leserLine2.activeLine{
    clip-Path : inset(0 0 0 0); 
    opacity: 1;
    transition: 1s; 
}
.skilllogo{
    position: absolute;
    width:800px;
    height:800px;
    border-radius:50%; 
    border:1px dashed  ;
    border-spacing: 15px;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}
.skilllogo > div{
    width: 500px ;
    height: 500px ; 
    border:1px dashed  ;
    border-radius:50%; 
    display: flex;
    align-items: center;
    justify-content: center;

}
.skilllogo img{ 
    width: 250px;
    
}
.skillcircle .skilltext{
    position:absolute;
    width: 900px;
    height: 900px; 
    display:flex;
    justify-content: center;
    transform: rotate(225deg);
    /* background-color: red; */

}
.skillcircle .skilltext span{
    position: absolute;
    top: 0;
    left: 50%;
    transform-origin: 0 450px; 
    transition: transform 2s ease; 
    cursor: pointer;  
}
 
 
 
 

@media(max-width:1650px){
    .skillcircle{
        position: relative;
        width:700px;
        height:700px; 
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
       margin-left:40% ; 
    }
    .leserLine1{
        width: 30%;
        border: 1px solid BLACK; 
        height: 1px;
        position: absolute;
        top: 49%;
        left: 50px;
        transform: rotate(-3deg); 
        clip-Path : inset(0 0 0 100%); 
        opacity: 0;
        transition: 0s; 
    }
    .leserLine1.activeLine{
        clip-Path : inset(0 0 0 0); 
        opacity: 1;
        transition: 1s;
    }
    
     
    .leserLine2{
        width: 30%;
        border: 1px solid BLACK; 
        height: 1px;
        position: absolute;
        top: 51%;
        left: 50px;
        transform: rotate(3deg);
        clip-Path : inset(0 0 0 100%); 
        opacity: 0;
        transition: 0s; 
    }
    
    .leserLine2.activeLine{
        clip-Path : inset(0 0 0 0); 
        opacity: 1;
        transition: 1s; 
    }
    .skilllogo{
        position: absolute;
        width:600px;
        height:600px;
        border-radius:50%; 
        border:1px dashed  ;

        border-spacing: 15px;
        display: flex;
        align-items: center;
        justify-content: center; 
        
    }
    .skilllogo > div{
        width: 400px ;
        height: 400px ; 
        border:1px dashed  ;
        border-radius:50%; 
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .skilllogo img{ 
        width: 200px;
        
    }
    .skillcircle .skilltext{
        position:absolute;
        width: 700px;
        height:700px; 
        display:flex;
        justify-content: center;
        transform: rotate(225deg);
    
    }
    .skillcircle .skilltext span{
        position: absolute;
        left: 50%;
        transform-origin: 0 350px; 
        transition: transform 2s ease; 
        cursor: pointer;  
        /* margin-left: 50px; */
        font-weight: 700;

    
    }
}


@media(max-width:990px){
    .skillcircle{
        position: relative;
        width:700px;
        height:700px; 
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items: center;
       margin-left:0% ; 
    }
    .leserLine1{
        width: 30%;
        border: 1px solid red; 
        height: 1px;
        position: absolute;
        top: 49%;
        left: 50px;
        transform: rotate(-3deg); 
        clip-Path : inset(0 0 0 100%); 
        opacity: 0;
        transition: 0s; 
    }
    .leserLine1.activeLine{
        clip-Path : inset(0 0 0 0); 
        opacity: 1;
        transition: 1s;
    }
    
     
    .leserLine2{
        width: 30%;
        border: 1px solid red; 
        height: 1px;
        position: absolute;
        top: 51%;
        left: 50px;
        transform: rotate(3deg);
        clip-Path : inset(0 0 0 100%); 
        opacity: 0;
        transition: 0s; 
    }
    
    .leserLine2.activeLine{
        clip-Path : inset(0 0 0 0); 
        opacity: 1;
        transition: 1s; 
    }
    .skilllogo{
        position: absolute;
        width:600px;
        height:600px;
        border-radius:50%; 
        border:1px dashed  ;

        border-spacing: 15px;
        display: flex;
        align-items: center;
        justify-content: center; 
        
    }
    .skilllogo > div{
        width: 400px ;
        height: 400px ; 
        border:1px dashed  ;
        border-radius:50%; 
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    .skilllogo img{ 
        width: 250px;
        
    }
    .skillcircle .skilltext{
        position:absolute;
        width: 700px;
        height:700px; 
        display:flex;
        justify-content: center;
        transform: rotate(225deg);
    
    }
    .skillcircle .skilltext span{
        position: absolute;
        left: 50%;
        transform-origin: 0 350px; 
        transition: transform 2s ease; 
        cursor: pointer;  
        /* margin-left: 50px; */
        font-weight: 700;

    
    }
}


@media(max-width:770px){
   
    .skillcircle{ 
        display: none; 
    }
 
}